@page "/session/Create"
@inject ISessionService sessionService
@inject IUriHelper uriHelper

<h1>Create a new session</h1>

<h3>Enter name of session</h3>
<input bind="@name" type="text" />
<button onclick="@Create">Create</button>

@functions {
    string name = string.Empty;

    async Task Create() 
    {
        var session = await sessionService.CreateAsync(name);
        uriHelper.NavigateTo($"/session/{session.Id}");
    }
}