@page "/"
@inject ISessionService sessionService
@inject IUriHelper uriHelper

<h1>Welcome to Teg's games!</h1>

<style>
    .card-square.mdl-card {
        width: 320px;
        height: 260px;
    }

    .create-card-square > .mdl-card__title {
        color: #fff;
        background: url('/img/create.jpg') bottom right 15% no-repeat #46B6AC;
    }
</style>

<div class="create-card-square mdl-card mdl-shadow--2dp" style="margin: 10px">
    <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">What if?</h2>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" onclick="@PlayWhatIf">
            Play
        </a>
    </div>
</div>

@functions {

    void PlayWhatIf()
    {
        uriHelper.NavigateTo($"/whatif/");
    }
}