@page "/session/{SessionId:guid}"
@inject ISessionService sessionService
@inject IUriHelper uriHelper

@if (ActiveSession != null) {
    <h1>Welcome to session @ActiveSession.Name</h1>
    <h2>Invite others to join using this code: @ActiveSession.JoinId</h2>
}

@functions {
    [Parameter]
    public Guid SessionId { get; set; }

    GameSession ActiveSession {get;set;}

    protected override async Task OnInitAsync()
    {
        ActiveSession = await sessionService.GetAsync(SessionId);
    }
}